Source: debathena-kiosk
Section: debathena/web
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 8.1.0~)
Standards-Version: 3.9.3

Package: debathena-kiosk
X-Debathena-Build-For: precise trusty
Architecture: all
Depends: ${misc:Depends}, firefox | iceweasel, metacity, unzip, adduser,
 debathena-lightdm-config (>= 1.13.2~), python, python-gtk2, python-glade2,
 python-dbus, debathena-bugme (>= 10.0.5-0debathena1~), sudo (>= 1.7.2p1-1~)
Description: Provides a restricted kiosk mode for cluster machines
 This package provides a tool to launch a browser from the greeter.
 It is designed for IS&T cluster workstations only, and makes a number
 of assumptions about how the workstation is configured.  Installing
 this on your personal Debathena workstation is probably a bad idea.
