[Desktop Entry]
Type=Application
Name=Kiosk mode browser
TryExec=/usr/lib/debathena-kiosk/debathena-kiosk-session
Exec=/usr/lib/debathena-kiosk/debathena-kiosk-session
Comment=Kiosk mode browser
